 html {
 	height: 100%;
 	min-width: 530px;
 }

 body {
	height: 100%;
	font-family: 'Play', sans-serif;
	background-color: rgba(0, 0, 0, 0.79);
	color: white;
	font-size: 14px;
}

#footer a {
	color:white;
}



.container {
	width: 800px;
	background-color: rgba(0, 0, 0, 0.87);
	padding-top:20px;
	padding-bottom:20px;
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	background-repeat: repeat;
	border-top: -1px solid rgba(255, 255, 255, 0.64);
}

#header {
	font-size: 36px;

}

#subheader {
	font-size: 16px;
	padding-bottom: 15px;
	box-shadow: 		0 5px 6px -1px rgba(0, 0, 0, 0.87);
	-moz-box-shadow:    0 5px 6px -1px rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.87);
}

#map {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding:0;
	box-shadow: 		0px -5px 12px -5px rgba(0, 0, 0, 0.87);
	-moz-box-shadow:    0px -5px 12px -5px rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: 0px -5px 12px -5px rgba(0, 0, 0, 0.87);
	position: relative;
}

.map-box {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:0;
	padding:0;
	margin-top:-5px;
	cursor: pointer;
}

.map-box:hover {
	background-color: rgba(104, 197, 98, 0.42);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #81A74E;
    border-color: #81A74E;
    outline: none;
}

.btn-primary {
	background-color: #4E652F;
	border-color: #79905A;
    border-radius: 0px;
    outline: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn {
	border-radius: 0px;
}

#add-nade {
	color: black;
}

fieldset {
	padding: 10px;
}

select, input, textarea {
	margin: 20px 0;
}

select.form-control {
	-webkit-border-radius: 0px;
}

.modal-content {
	background-color: #E8E8E8;
	border-radius: 0px;
}

.modal-header {
	min-height:0;
	padding:0;
	border-bottom:0;
}

.modal-body {
	padding: 0 15px;
	color: black;
}

#errors {
	color: red;
	margin-left: 20px;
}

.nade-count {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: red;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

#list-nades-table-header {
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 16px;
}

#nade-row {
	padding: 20px 0px;
	margin: 5px -15px;
}

.ct-bg {
	background-color: rgba(160, 198, 237, 0.48);
}

.t-bg {
	background-color: rgba(231, 204, 133, 0.59);
}

#map-select {
	margin:0 15px;
	background-color: rgba(255, 255, 255, 0.76);
}

#map-top {
	padding-bottom: 25px;
	padding-top:20px;
	background-color: rgba(255, 255, 255, 0.1);
}

.glyphicon-triangle-top, .glyphicon-triangle-bottom  {
	margin:0 10px;
	cursor: pointer;
	font-size: 13px;
}

#footer {
	padding-top: 8px;
}

#map-title {
	font-size: 24px;
}

.glyphicon-play-circle {
	font-size: 20px;
}

.nade-type {
	font-size: 16px;
}

.nade-rating {
	font-size: 16px;
}

.video-link {
	color: black;
}

.delete-button {
	color:#CA1212;
	cursor: pointer;
	font-size:14px;
}

.nade-title {
	font-size: 16px;
}

.shadow-top {
	-moz-box-shadow:    inset 1px 5px 12px -6px  rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: inset 1px 5px 12px -6px  rgba(0, 0, 0, 0.87);
	box-shadow: inset 1px 5px 12px -5px  rgba(0, 0, 0, 0.87);
	height: 10px;
}

#filter {
	position: absolute;
	right: 0;
	width: 40px;
	height: 40px;
	padding: 10px;
	background-color: rgba(90, 22, 90, 0.76);
	border: 1px solid rgba(255, 255, 255, 0.49);
	bottom: 5px;
	cursor:pointer;

}

#filter:hover {
	background-color: rgba(130, 49, 130, 0.76);
}

#filter-options {
	display: none;
	position: absolute;
	bottom: 45px;
	right: 20px;
}

#filter-label {
	display: none;
	position: absolute;
	bottom: 15px;
	right: 60px;
}