 html {
 	height: 100%;
 	min-width: 530px;
 }

 body {
	height: 100%;
	font: Helvetica,sans-serif;
	background-color: rgba(0, 0, 0, 0.79);
	color: white;
	font-size: 14px;
}

.container {
	width: 800px;
	background-color: black;
	padding-top:20px;
	padding-bottom:20px;
}

#map {
	background-color:blue;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding:0;
	margin-top:10px;

}

.map-box {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:0;
	padding:0;
	margin-top:-5px;
	cursor: pointer;
}

.map-box:hover {
	background-color: rgba(255, 0, 0, 0.42);
}

.btn {

}

#add-nade {
	color: black;
}

fieldset {
	padding: 10px;
}

select, input, textarea {
	margin: 20px 0;
}

.modal-content {
	background-color: #E8E8E8;
}

.modal-body {
	padding: 0 15px;
}

#errors {
	color: red;
	margin-left: 20px;
}