 html {
 	height: 100%;
 	min-width: 530px;
 }

 body {
	height: 100%;
	font: Helvetica,sans-serif;
	background-color: rgba(0, 0, 0, 0.79);
	color: white;
	font-size: 14px;
}

.container {
	width: 800px;
	background-color: black;
	padding-top:20px;
}

#map {
	background-color:blue;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding:0;

}

.map-box {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:0;
	padding:0;
	margin-top:-2px;
	cursor: pointer;
}

.btn {

}
