doctype html
html
    head
        meta(charset="utf-8")
        title Counter-Strike: Global Offensive Smoke and Nade Maps
        meta(description="Smoke and nade map guide for CS:GO.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        link(rel="icon" href="/favicon.ico")
        link(href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css')

    body
        .container
            #header.text-center.row
                | CS:GO Smoke and Nade Maps

            #map-top.row.text-center
                #map-title.col-xs-3
                .col-xs-3
                    select#map-select.form-control
                        option(value="default" disabled selected).
                            Select a map
                        option(value="cache").
                            Cache
                        option(value="cbble").
                            Cobblestone
                        option(value="dust2").
                            Dust II
                        option(value="inferno").
                            Inferno
                        option(value="mirage").
                            Mirage
                        option(value="overpass").
                            Overpass
                        option(value="train").
                            Train
                            

                .col-xs-3.text-right
                    button#add-nade-button.btn.btn-primary.
                        Add a Nade
                .col-xs-3
                    button#all-nades-button.btn.btn-primary.
                        View Full Nade List

           

            .row.text-center
                #map(style="background-image: url(/images/maps/#{map[0].tag}.jpg)")
                    - for (var x = 0; x < 400; x++)
                        .map-box(box-num=x count=0)
            #footer.row.text-center
                .col-xs-2
                    a(href="https://docs.google.com/forms/d/1amF_0OzqKqUDdpF9us4OttN_QnKT1_NJOplwzCj_VlA/viewform?usp=send_form" target="_blank") Feedback
                .col-xs-2
                    a(href="https://github.com/gabranches/CGNM" target="_blank") GitHub
    
        #add-nade.modal.fade(tabindex="1" role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                    .modal-body
                        form
                            fieldset.form-group
                                select#nade-type.form-control
                                    option(value="default" disabled selected).
                                        Nade Type
                                    option(value="Smoke").
                                        Smoke
                                    option(value="Flash").
                                        Flash
                                    option(value="Molotov").
                                        Molotov
                                    option(value="Frag").
                                        Frag
                                select#nade-team.form-control
                                    option(value="default" disabled selected).
                                        Team
                                    option(value="ct").
                                        Counter-Terrorist
                                    option(value="t").
                                        Terrorist
                                input#nade-title.form-control(placeholder="Nade Title (e.g. CT Spawn from Long)")
                                input#nade-link.form-control(placeholder="Video Link (Please include timestamp if the video has more than one nade)")
                        #errors


                    .modal-footer
                        button#nade-close(type="button" class="btn btn-default" data-dismiss="modal").
                            Close
                        button#nade-submit(type="button" class="btn btn-primary").
                            Submit

        #list-nades-modal.modal.fade(tabindex="1" role="dialog")
            .modal-dialog
                .modal-content.text-center
                    .modal-header.
                    .modal-body
                        #list-nades-table-header.row
                            .col-xs-2.
                                Rating
                            .col-xs-2.
                                Type
                            .col-xs-5.
                                Title
                            .col-xs-3.
                                Link
                        #list-nades

                    .modal-footer
                        button(type="button" class="btn btn-default" data-dismiss="modal").
                            Close


        script(id="entry-template" type="text/x-handlebars-template")
            .row
                #nade-wrapper.col-xs-12.text-center
                    #nade-row.row(class= "{{team}}-bg")
                        .col-xs-2
                            span(class="glyphicon glyphicon-triangle-top" data-id="{{_id}}")
                            span(id="{{_id}}")
                                | {{rating}}
                            span(class="glyphicon glyphicon-triangle-bottom" data-id="{{_id}}")
                        .col-xs-2
                            | {{type}}
                        .col-xs-5
                            | {{title}}
                        .col-xs-3
                            a(href="{{link}}" target="_blank") Watch Video
                            
          



        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="/js/handlebars.js")
        script(type="text/javascript").
            var map = !{JSON.stringify(map[0])};
        script(src="/js/main.js")