doctype html
html
    head
        meta(charset="utf-8")
        title CGNM
        meta(description="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        link(rel="icon" href="/favicon.ico")

    body
        .container
            .row
                .col-xs-8
                    p Click on a map section to see nades
                .col-xs-4.text-center
                    button#add-nade-button.btn.btn-primary.
                        Add a nade
            .row.text-center
                #map(style="background-image: url(/images/maps/#{map[0].tag}.jpg)")
                    - for (var x = 0; x < 400; x++)
                        .map-box(box-num=x)
    
        #add-nade.modal.fade(tabindex="1" role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title.
                            New Nade
                    .modal-body
                        p One fine body

                    .modal-footer
                        button(type="button" class="btn btn-default" data-dismiss="modal").
                            Close
                        button(type="button" class="btn btn-primary").
                            Submit



        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(type="text/javascript").
            var map = !{JSON.stringify(map[0])};
        script(src="/js/main.js")